@import "tailwindcss";
@tailwind utilities;

body {
  font-family: "Della Respira", serif;
  font-weight: 400;
  font-style: normal;
}

button, a {
  @apply cursor-pointer;
}

/* For characters section swiper (border for selected slide item) */
@layer utilities {
  /* Target the image inside the active slide */
  #character-slider .swiper-slide-active img {
    @apply border-4 border-[#A5784C] rounded-xl scale-100;
  }

  #faction-section .swiper-slide-active img {
    @apply brightness-100;
  }
}

/* Characters grid indentation */
.grid-container {
    display: grid;
    /* Change the '3' here if you want more or fewer columns */
    grid-template-columns: repeat(3, 1fr);
    gap: 1rem;
    padding: 1rem;
}

.grid-container > div:nth-child(6n + 4),
.grid-container > div:nth-child(6n + 5),
.grid-container > div:nth-child(6n + 6) {
    transform: translateX(6rem); /* The horizontal offset! */
}

/* For swipers that need pagination (bullets navigations) */
.swiper-pagination-bullet {
  width: 16px !important;
  height: 16px !important;
  background-color: #ffffff;
  opacity: 0.5;
  transition: opacity 0.3s ease;
}

.swiper-pagination-bullet-active {
  background-color: #A5784C !important;
  opacity: 1;
}

.animate-arrow-left {
  animation: float-left-right 1.5s ease-in-out infinite;
}

.animate-arrow-right {
  animation: float-right-left 1.5s ease-in-out infinite;
}

@keyframes float-left-right {
  0%, 100% {
    transform: translateX(0);
  }
  50% {
    transform: translateX(10px);
  }
}

@keyframes float-right-left {
  0%, 100% {
    transform: translateX(0);
  }
  50% {
    transform: translateX(-10px);
  }
}