@import "tailwindcss";
@tailwind utilities;

@theme {
  --breakpoint-4xl: 2300px;
  --breakpoint-3xl: 1300px;
}

body {
  font-family: "Della Respira", serif;
  font-weight: 400;
  font-style: normal;
  scroll-behavior: smooth;
  overflow-x: hidden;
}

html {
  overflow-x: hidden;
}

.font-2 {
  font-family: "Cinzel", serif;
}

.font-3 {
  font-family: "Cinzel Decorative", serif;
}

/* For characters section swiper (border for selected slide item) */
@layer utilities {
  button, a {
    @apply cursor-pointer;
  }

  /* Target the image inside the active slide (UNUSED/OUTDATED) */
  /* #character-slider .swiper-slide-active img {
    @apply border-4 border-[#A5784C] rounded-xl scale-100;
  } */

  /* FACTION SWIPER */
  #faction-section .swiper-slide-active img {
    @apply brightness-100;
  }
}

/* Characters grid indentation */
.grid-container {
    display: grid;
    /* Change the '3' here if you want more or fewer columns */
    grid-template-columns: repeat(3, 1fr);
    gap: 0.5rem;
    padding: 1rem ;
}

.grid-container > a:nth-child(6n + 4),
.grid-container > a:nth-child(6n + 5),
.grid-container > a:nth-child(6n + 6) {
    transform: translateX(6rem);
}

/* For swipers that need custom pagination (bullets navigations) */
/* NEWS AND INFO SWIPER */
#news-and-info .swiper-pagination-bullet {
  width: 16px !important;
  height: 16px !important;
  background-color: #ffffff;
  opacity: 0.5;
  transition: opacity 0.3s ease;
  margin: 0 10px;
}

#news-and-info .swiper-pagination-bullet-active {
  background-color: #A5784C !important;
  opacity: 1;
}

/* GAMEPLAY FEATURE SWIPER */
#gameplay-feature .swiper-pagination-bullet {
  width: 16px !important;
  height: 16px !important;
  background-color: #ffffff;
  opacity: 0.5;
  transition: opacity 0.3s ease;
  margin: 0 10px;
}

#gameplay-feature .swiper-pagination-bullet-active {
  background-color: #A5784C !important;
  opacity: 1;
  margin: 0 10px;
}

/* FAN ARTS SWIPER (LIMITED NUMBER OF PAGINATION BULLETS) */
#fan-arts .swiper {
  padding-bottom: 100px !important;
}

#fan-arts .swiper-pagination-bullet {
  width: 26px !important;
  height: 26px !important;
  background-color: #ffffff;
  opacity: 0.5;
  margin: auto 10px;
  transform: scale(0.7);
} 

#fan-arts .swiper-pagination-bullet-active {
  background-color: white !important;
  opacity: 1;
  width: 26px !important;
  height: 26px !important;
  margin: auto 10px;
  transform: scale(1);
}

/* For swipers that need custom styling */
/* MERCH SWIPER (HALF-TOP-CIRCULAR ILLUSION) */
#merchs .swiper {
  padding: 100px !important;
}

#merchs .swiper-slide {
  transition: transform 0.3s ease;
  transform: translateY(600px);
}

#merchs .swiper-slide-active {
  transform: translateY(200px) !important;
}

#merchs .swiper-slide-next {
  transform: translateY(-40px) !important;
}

#merchs .swiper-slide-next + .swiper-slide {
  transform: translateY(-120px) !important;
}

#merchs .swiper-slide-next + .swiper-slide + .swiper-slide {
  transform: translateY(-120px) !important;
}

#merchs .swiper-slide-next + .swiper-slide + .swiper-slide + .swiper-slide {
  transform: translateY(-40px) !important;
}

#merchs .swiper-slide-next + .swiper-slide + .swiper-slide + .swiper-slide + .swiper-slide {
  transform: translateY(200px) !important;
}

.animate-arrow-left {
  animation: float-left-right 1.5s ease-in-out infinite;
}

.animate-arrow-right {
  animation: float-right-left 1.5s ease-in-out infinite;
}

.animate-brimvahl-crown-logo {
  animation: big-small 3s ease-in-out infinite;
}

@keyframes float-left-right {
  0%, 100% {
    transform: translateX(0);
  }
  50% {
    transform: translateX(10px);
  }
}

@keyframes float-right-left {
  0%, 100% {
    transform: translateX(0);
  }
  50% {
    transform: translateX(-10px);
  }
}

@keyframes big-small {
  0%, 100% {
    transform: scale(100%);
  }
  50% {
    transform: scale(105%);
  }
}
